{% extends 'base_index.html' %}

{% block meta_tags %}
    <title>Edytuj film</title>
{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Edytuj film</button>
    </form>
{% endblock %}