{% extends 'base_index.html' %}

{% block meta_tags %}
    <title>Wszystkie filmy</title>
{% endblock %}

{% block content %}
    <h1>Wszystkie filmy</h1>
    {% if movies|length == 0 %}
        <h2>Nie ma filmów w bazie</h2>
    {% else %}
        <h2>Ilość filmów w bazie: {{ movies|length }}</h2>
        {% for movie in movies %}
            <h3>{{ movie.title }} ({{ movie.year }})</h3>
            <p>{{ movie.description }}</p>
        {% endfor %}
    {% endif %}
{% endblock %}