{% extends 'base_index.html' %}

{% block meta_tags %}
    <title>Dodaj film</title>
{% endblock %}
{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Dodaj film</button>
    </form>
{% endblock %}